<template data-name="default">
    <div class="p-6 space-y-8">
        <div class="space-y-2">
            <div class="space-y-6">
                <div class="space-y-2">
                    <label for="privateKey" class="block text-sm font-medium">Private Key</label>
                    <input id="privateKey" type="text" class="form-input"
                           placeholder="Enter your private key" data-input="privateKey">
                </div>
            </div>

            <div class="flex justify-end space-x-3">
                <a href="javascript:;" data-action="about">About</a>
                <button data-action="login" class="form-button form-button-primary">
                    Login
                </button>
            </div>
            <span id="login-error" data-dock="errorMessage" class="opacity-70 hide"></span>
        </div>
    </div>
</template>

<template data-name="register">
    <div class="p-6 space-y-8">
        <div class="space-y-2">
            <p>NOT IMPLEMENTED</p>
        </div>
    </div>
</template>

<template data-name="errorMsg">
    <p class="error text-red-500 text-sm" data-errType="{{.type}}">{{.message}}</p>
</template>
