<template data-name="taskbar">
    <div id="taskbar">
        <!-- Start Button -->
        <div class="relative">
            <button data-action="startOrbital" class="px-4 py-1.5 bg-os-accent dark:bg-terminal-accent hover:bg-os-accent/80 dark:hover:bg-terminal-accent/80 transition-colors duration-150">
                <i class="fas fa-thin fa-satellite-dish mr-2"></i>
                orbital
            </button>

            <div data-dock="startMenu"></div>
        </div>


        <!-- Active Windows -->
        <div data-dock="activeApps" class="flex-1"></div>


        <!-- System Tray -->
        <div class="flex items-center space-x-4 px-4 text-sm">
            <button onclick="document.documentElement.classList.toggle('dark')" class="hover:opacity-100 transition-opacity">
                <i class="fas fa-moon opacity-50 hover:opacity-100 block dark:hidden"></i>
                <i class="fas fa-sun opacity-50 hover:opacity-100 hidden dark:block dark:text-terminal-text"></i>
                L/D
            </button>
            <span class="clock"> 21:00 </span>
        </div>
    </div>
</template>

<template data-name="taskbarStartContent">
    <div id="taskbarStartContent" data-id="startMenu" class="hide">
        <div class="header">
            <div class="text-sm font-semibold dark:text-terminal-text dark:terminal-glow">Welcome, stranger</div>
            <div class="text-xs opacity-70 dark:text-terminal-text">v1.2.3</div>
        </div>
        <div class="py-1">
            // items go here
        </div>
    </div>
</template>

<template data-name="taskbarActiveApps">
    <div data-dock="activeItems" class="px-2 space-x-2"></div>
</template>

<template data-name="taskbarActiveAppsItem">
    <div class="inline-block px-3 py-1 bg-os-accent/50 dark:bg-terminal-accent text-sm dark:text-terminal-text dark:terminal-glow">
        <i class="fas fa-lock mr-2"></i>
        Login
    </div>
</template>