<template data-name="taskbar">
    <div class="taskbar">
        <!-- Start Button -->
        <div class="relative">
            <button data-action="startOrbital" class="px-4 py-1.5 accent-bg hover:opacity-80 transition-colors duration-150">
                <i class="fas fa-thin fa-satellite-dish mr-2"></i>
                orbital
            </button>

            <div data-dock="startMenu"></div>
        </div>


        <!-- Active Windows -->
        <div data-dock="taskbar-apps" class="flex-1"></div>

        <!-- System Tray -->
        <div class="system-tray">
            <button onclick="document.documentElement.classList.toggle('dark')" class="hover:opacity-100 transition-opacity">
                <i class="fas fa-moon opacity-50 hover:opacity-100 block dark:hidden"></i>
                <i class="fas fa-sun opacity-50 hover:opacity-100 hidden dark:block text-theme"></i>
            </button>
            <span class="clock"> 21:00 </span>
        </div>
    </div>
</template>

<template data-name="taskbarStartContent">
    <div class="taskbar-start hide" data-id="startMenu">
        <div class="header">
            <div class="text-sm font-semibold text-theme terminal-glow">Welcome, stranger</div>
            <div class="text-xs opacity-70 text-theme">v1.2.3</div>
        </div>
        <div class="py-1">
            // items go here
        </div>
    </div>
</template>

<template data-name="taskbarActiveApps">
    <div data-dock="activeItems" class="px-2 space-x-2"></div>
</template>

<template data-name="taskbarActiveAppsItem">
    <div class="taskbar-app">
        <i class="fas fa-lock mr-2"></i>
        Login
    </div>
</template>