<template data-name="applications">
    <div>
        <div data-dock="appsList" class="grid grid-cols-6 gap-6 md:grid-cols-8 lg:grid-cols-12 mb-6"></div>
    </div>
</template>

<template data-name="appLauncher">
    <button data-id="{{.id}}" data-action="launchApp" class="app-icon rounded-md p-3 w-20 h-20 flex flex-col items-center justify-center transition-all hover:scale-105 shadow-md">
        <div class="w-12 h-12 icon-app rounded-md flex items-center justify-center mb-1.5 relative">
            <i class="fas text-2xl text-os-text dark:text-terminal-text {{.icon}}"></i>
        </div>
        <span class="text-xs font-medium mt-1">{{.title}}</span>
    </button>
</template>

<template data-name="appsGroup">
    <div class="app-group">
        <button class="group-icon dark:bg-os-bg text-terminal-text dark:text-terminal-text rounded-md p-3 w-20 h-20 flex flex-col items-center justify-center transition-all hover:scale-105 shadow-md">
            <div class="w-12 h-12 icon-app rounded-md flex items-center justify-center mb-1.5 relative">
                <i class="fas text-2xl text-os-text dark:text-terminal-text-300 {{.icon}}"></i>
                <div class="mini-apps-indicator">
                    <div class="mini-app-dot bg-os-bg dark:bg-terminal-bg"></div>
                    <div class="mini-app-dot bg-os-accent dark:bg-terminal-accent"></div>
                    <div class="mini-app-dot bg-os-text dark:bg-terminal-text"></div>
                </div>
            </div>
            <span class="text-xs font-medium mt-1 text-os-text dark:text-terminal-text">{{.name}}</span>
        </button>
    </div>
</template>